<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26538599722-0vnd47hbmdj1pqea76t5ab7qejev2keb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26538599722-0vnd47hbmdj1pqea76t5ab7qejev2keb</string>
	<key>API_KEY</key>
	<string>AIzaSyD1wTOXjg-qNJZXwso5IE6lN2-iPv8xegA</string>
	<key>GCM_SENDER_ID</key>
	<string>26538599722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Church.AthleteHub</string>
	<key>PROJECT_ID</key>
	<string>athletehub-af277</string>
	<key>STORAGE_BUCKET</key>
	<string>athletehub-af277.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26538599722:ios:ed582aff217689d9f7ea53</string>
</dict>
</plist>